/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

*, ::after, ::before {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #d2d6dc;
}

:root{
    /* ===== Colors ===== */
    --primary-color: #9900ff;
    --panel-color: #FFF;
    --text-color: #000;
    --black-light-color: #707070;
    --border-color: #e6e5e5;
    --toggle-color: #DDD;
    --box1-color: #9900ff;
    --box2-color: #FFE6AC;
    --box3-color: #E7D1FC;
    --title-icon-color: #fff;
    
    /* ====== Transition ====== */
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.2s ease;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

body{
    min-height: 100vh;
    background-color: var(--primary-color);
}

/* === Custom Scroll Bar CSS === */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 12px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #0b3cc1;
}

body.dark::-webkit-scrollbar-thumb:hover,
body.dark .activity-data::-webkit-scrollbar-thumb:hover{
    background: #3A3B3C;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    padding: 10px 14px;
    /* background-color: var(--panel-color); */
    --bg-opacity: 1;
    background-color: #252f3f;
    background-color: rgba(37,47,63,var(--bg-opacity));
    border-right: 1px solid var(--border-color);
    transition: var(--tran-05);
}
nav.close{
    width: 73px;
}
nav .logo-name{
    display: flex;
    align-items: center;
    margin-top: 12px;
}
nav .logo-image{
    display: flex;
    justify-content: center;
    min-width: 45px;
}
nav .logo-image img{
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}

nav .logo-name .logo_name{
    font-size: 28px;
    font-weight: 600;
    color: var(--text-color);
    margin-left: 14px;
    transition: var(--tran-05);
}
nav.close .logo_name{
    opacity: 0;
    pointer-events: none;
}
nav .menu-items{
    margin-top: 40px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu-items li{
    list-style: none;
}
.menu-items li a{
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    position: relative;
}
/* .nav-links li a:hover:before{
    content: "";
    position: absolute;
    left: -7px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--primary-color);
} */
body.dark li a:hover:before{
    background-color: var(--text-color);
}
.menu-items li a i{
    font-size: 24px;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6b7280;
}
.menu-items li a .link-name{
    font-size: 18px;
    font-weight: 400;
    color: #6b7280;    
    transition: var(--tran-05);
}
nav.close li a .link-name{
    opacity: 0;
    pointer-events: none;
}
.nav-links li a:hover i,
.nav-links li a:hover .link-name{
    color: var(--primary-color);
}

.logout-mode li a:hover i,
.logout-mode li a:hover .link-name{
    color: var(--primary-color);
}
body.dark .nav-links li a:hover i,
body.dark .nav-links li a:hover .link-name{
    color: var(--text-color);
}
.menu-items .logout-mode{
    padding-top: 10px;
    border-top: 1px solid #6b7280;
}
.menu-items .mode{
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.menu-items .mode-toggle{
    position: absolute;
    right: 14px;
    height: 50px;
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.mode-toggle .switch{
    position: relative;
    display: inline-block;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
}
.switch:before{
    content: "";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    background-color: var(--panel-color);
    border-radius: 50%;
    transition: var(--tran-03);
}
body.dark .switch:before{
    left: 20px;
}

.dashboard{
    position: relative;
    left: 250px;
    background-color: #ebeef1;
    min-height: 100vh;
    width: calc(100% - 250px);
    padding: 10px 14px;
    transition: var(--tran-05);
}
nav.close ~ .dashboard{
    left: 73px;
    width: calc(100% - 73px);
}
.dashboard .top{
    position: fixed;
    top: 0;
    left: 250px;
    display: flex;
    width: calc(100% - 250px);
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    background-color: #d2d6dc;
    transition: var(--tran-05);
    z-index: 10;
}
nav.close ~ .dashboard .top{
    left: 73px;
    width: calc(100% - 73px);
}
.dashboard .top .sidebar-toggle{
    font-size: 26px;
    color: var(--text-color);
    cursor: pointer;
}

.dashboard .top .user-menu {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-left: auto;
}

.user-menu-button {
    display: inline-flex;
    align-items: center;
    padding: 0.5rem;
    background-color: transparent;
    background-image: none;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    line-height: inherit;
}

.user-info {
    line-height: 1.25;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.user-name {
    font-weight: 600;
}

.user-email {
    --text-opacity: 1;
    color: #4b5563;
    color: rgba(75,85,99,var(--text-opacity));
    font-size: .875rem;
    line-height: 1.25rem;
}

.dashboard .top .user-avatar {
    height: 3rem;
    width: 3rem;
    margin-left: 0.5rem;
    border-radius: 9999px;
    overflow: hidden;
}

.dashboard .top .user-avatar img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.dashboard .dash-content{
    padding-top: 50px;
}

.custom-main>:not(template)~:not(template) {
    --space-y-reverse: 0;
    margin-top: calc(1.5rem * calc(1 - var(--space-y-reverse)));
    margin-bottom: calc(1.5rem * var(--space-y-reverse));
}

.custom-main {
    padding: 2.5rem; 
}

.custom-flex-container>:not(template)~:not(template) {
    --space-y-reverse: 0;
    margin-top: calc(0px * calc(1 - var(--space-y-reverse)));
    margin-bottom: calc(0px * var(--space-y-reverse));
} 

.custom-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 1.5;
}

.dash-container {
    margin-right: 1.5rem;
}
  
.dash-heading {
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}
  
.dash-subheading {
    --text-opacity: 1;
    color: #4b5563;
    color: rgba(75,85,99,var(--text-opacity));
    margin-left: 0.125rem;
    font-size: inherit;
    font-weight: inherit;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-bottom: -0.75rem;
}
  
.custom-button {
    display: inline-flex;
    padding: 0.75rem 1.25rem;
    font-size: 1rem; /* Adjust the font size as needed */
    --text-opacity: 1;
    color: #7e3af2;
    color: rgba(126,58,242,var(--text-opacity));
    margin-bottom: 0.75rem;
    border-width: 1px;
    --border-opacity: 1;
    border-color: #7e3af2;
    border-color: rgba(126,58,242,var(--border-opacity));
    border-radius: 0.375rem; 
    background-color: transparent;
    cursor: pointer;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}

.custom-button a {
    text-decoration: none;
}

.custom-button .custom-svg-icon {
    flex-shrink: 0;
    height: 1.25rem; 
    width: 1.25rem; 
    margin-left: -0.25rem;
    margin-top: 0.25rem;
    margin-right: 0.5rem;
}

  
.custom-button:hover,
.custom-button:focus {
    color: #7A3EBD; /* Change the hover/focus text color as needed */
    background-color: #F3E8FF; /* Change the hover/focus background color as needed */
    border-color: #7A3EBD; /* Change the hover/focus border color as needed */
}


.custom-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
}
  
.custom-container {
    display: flex;
    align-items: center;
    padding: 2rem;
    background-color: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
    --bg-opacity: 1;
    background-color: rgba(255,255,255,var(--bg-opacity));
    border-radius: 0.5rem;
}

.custom-icon-container1 {
    flex-shrink: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    --bg-opacity: 1;
    background-color: #fde8e8;
    background-color: rgba(253,232,232,var(--bg-opacity));
    border-radius: 9999px;
    margin-right: 1.5rem;
}

.custom-icon-container2 {
    flex-shrink: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    --bg-opacity: 1;
    background-color: #def7ec;
    background-color: rgba(222,247,236,var(--bg-opacity));
    border-radius: 9999px;
    margin-right: 1.5rem;
}

.custom-icon-container3 {
    flex-shrink: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    --bg-opacity: 1;
    background-color: #edebfe;
    background-color: rgba(237,235,254,var(--bg-opacity));
    border-radius: 9999px;
    margin-right: 1.5rem;
}

.custom-icon-container1 .custom-svg-icon1 {
    font-size: 1.5rem;
    --text-opacity: 1;
    color: #e02424;
    color: rgba(224,36,36,var(--text-opacity));
}

.custom-icon-container2 .custom-svg-icon2 {
    font-size: 1.5rem;
    --text-opacity: 1;
    color: #057a55;
    color: rgba(5,122,85,var(--text-opacity));
}

.custom-icon-container3 .custom-svg-icon3 {
    font-size: 1.5rem;
    --text-opacity: 1;
    color: #7e3af2;
    color: rgba(126,58,242,var(--text-opacity));
}

.custom-text {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.custom-number {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
}

.custom-description {
    font-size: 1rem;
    color: #666;
}

.custom-popup-class {
    width: 850px; /* Adjust the width as needed */
    text-align: left;
  }

@media (max-width: 1280px) {
    .custom-grid{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 1000px) {
    nav{
        width: 73px;
    }
    nav.close{
        width: 250px;
    }
    nav .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close .logo_name{
        opacity: 1;
        pointer-events: auto;
    }
    nav li a .link-name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close li a .link-name{
        opacity: 1;
        pointer-events: auto;
    }
    nav ~ .dashboard{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav.close ~ .dashboard{
        left: 250px;
        width: calc(100% - 250px);
    }
    nav ~ .dashboard .top{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav.close ~ .dashboard .top{
        left: 250px;
        width: calc(100% - 250px);
    }
}

@media (min-width: 768px) {
    .dash-container {
        margin-bottom: 0;
    }

    .custom-flex-container {
        flex-direction: row;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .custom-button {
        padding: 0.5rem 1rem;
    }
    .user-info {
        display: none;
    }
    .custom-flex-container>:not(template)~:not(template) {
        --space-y-reverse: 0;
        margin-top: calc(1.5rem * calc(1 - var(--space-y-reverse)));
        margin-bottom: calc(1.5rem * var(--space-y-reverse));
    } 
}

@media (max-width: 640px) {
    .custom-grid{
        grid-template-columns: 1fr;
    }
    .custom-main {
        padding: 1.5rem; 
    }
    .dash-heading {
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .dashboard .top .user-avatar {
        margin-left: 0.75rem;
    }
}

@media (max-width: 400px) {
    nav{
        width: 0px;
    }
    nav.close{
        width: 73px;
    }
    nav .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    nav li a .link-name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close li a .link-name{
        opacity: 0;
        pointer-events: none;
    }
    nav ~ .dashboard{
        left: 0;
        width: 100%;
    }
    nav.close ~ .dashboard{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav ~ .dashboard .top{
        left: 0;
        width: 100%;
    }
    nav.close ~ .dashboard .top{
        left: 0;
        width: 100%;
    }
}